.DS_Store
node_modules
/build
/.svelte-kit
/.vscode
/package
.env
.env.*
!.env.example
# This is where the static hosting info is deployed
/public
hosting.*.cache

.idea
/firebase-debug.log
/ui-debug.log
