:root {
    --committee-colour-2023: #ff0000;
}

.rehearsalLinkText {
    color: var(--committee-colour-2023);
    text-decoration: underline;
    text-decoration-color: var(--committee-colour-2023);
}

a {
    color: var(--committee-colour-2023);
    text-decoration: underline;
    text-decoration-color: var(--committee-colour-2023);
}